.text-card {
  background-color: #fff;
  width: 85%;
  max-width: 700px;
  margin: 20px auto;
  color: #4c4c4c;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 0px 8px #4c4c4c;
}

@media (max-width: 400px) {
  .text-card {
    width: 90%;
    padding: 15px;
  }
}
